<section id="reviews-567">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">What Our Clients Say</h2>
             <p class="cs-text">
                Read genuine testimonials from our satisfied customers who have experienced Moon's exceptional therapeutic massage treatments and professional care in Sunderland.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="/assets/svgs/stars-2.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Everytime I’m at moons massage she gives her full effort in making me walk out that door 100% better than I walked in, whether that’s recovering from  injury, relaxing massage or deep one when my muscles are sore from training. 12/10 . Highly recommend. Thanks again moon.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/google.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Paul Kane
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="/assets/svgs/stars-2.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Moon is very passionate and I would say a professional massage therapist. She provides  the therapeutic care as medical  professional. Such a passionate women and a very  effective therapist with her exceptional skills and techniques.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/google.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Castor Jr Salacup
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="/assets/svgs/stars-2.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Visited due to 3 months of constant pain in shoulder and neck. Can honestly say that after 1 treatment my neck and shoulder feels 100 % better. Can't recommend the place enough and will be visiting again.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/google.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Phil
                    </span>
                </div>
            </li>
        </ul>
        <a href="/reviews/" class="cs-button-solid">Read Reviews</a>
    </div>
</section>
                     