<section id="sbsr-1007">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-1.jpg" | resize({width: 528, height: 474}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-1.jpg" | resize({width: 528, height: 474}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-1.jpg" | resize({width: 528, height: 474}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/about-1.jpg" | resize({width: 1552, height: 474}) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/about-1.jpg" | resize({width: 1552, height: 474}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/about-1.jpg" | resize({width: 1552, height: 474}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/about-1.jpg" | resize({width: 1028, height: 872}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/about-1.jpg" | resize({width: 1028, height: 872}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/about-1.jpg" | resize({width: 1028, height: 872}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/about-1.jpg" | resize({width: 1028, height: 872}) | jpeg %}" alt="business owner" width="522" height="461" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Story</span>
            <h2 class="cs-title">Discover Hua Hin Moon Thai Massage</h2>
            <p class="cs-text">
                Hua Hin Moon Thai Massage, founded by Moon in 2012, brings authentic Thai healing traditions to Sunderland with over 15 years of professional expertise. Originally from Laos and trained in Thailand's renowned Hua Hin region, Moon combines traditional massage wisdom with British qualifications and professional standards. 
                <!--Creates the space between p tags on mobile-->
                <span class="cs-spacer"></span>
                Our established clinic delivers genuine therapeutic treatments in a spotlessly clean, welcoming environment, committed to providing personalised care that transforms lives through the healing power of authentic Thai massage.
            </p>
            <a href="/about/" class="cs-button-solid">About Us</a>
        </div>
    </div>
</section>
                